#galleryMain div{
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767px){
    #galleryMain div{
            background-size: 100%;
        }
    }

    @media (max-width: 480px){
        #galleryMain div{
            min-height: 300px;
            }
        }
        #myImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 45px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    z-index:99;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.close{
    display:none;
}

body #myModal{
    padding-top:180px;
    visibility:hidden;
}

#myModal .owl-next{
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: 999;
    background: #fff;
    border-radius: 50%;
    padding: 4px 9px 0px;
}

#myModal .owl-prev{
    position: absolute;
    left: 20px;
    top: 50%;
    z-index: 999;
    background: #fff;
    border-radius: 50%;
    padding: 4px 9px 0px;
}

body .topblock .topblock-title{
    margin-top:1em;
}

body .footer{
    height:auto;
}

.container {
  margin-bottom:100px;
}

.owl-stage {
    width: 863px
}

.catalog-item .catalog-item-pic img {
    object-fit: cover;
}

.product {
    margin-top: -100px;
}

.product-middle {
    margin-top: -110px;
}

.product-carousel {
    margin-top: -100px;
}

.product-bottom .container{
    margin-bottom: -70px;
}

section.bottomblock{
    visibility: hidden !important;
    display: none;
}

.filter-options-popup {
	width: 60%;
}

.bx_catalog_tile_img {
    height: 250px;
}

.product-top-title  {
    margin-bottom: 1rem;
}

.product-top-text {
    margin-bottom: 2rem;
}

.container-right {
    margin-right: 0;
}

.form-header-input {
    display: none;
}
.search_ikon {
    border: none;
}

.header-top-inner .form-header-input {
    float: left;
    width: 25%;
    right: 106px;
    top: 15px;
    position: absolute;
}

.form-header-input .search_ikon {
    background: #07324a;
    padding: unset;
    color: #fff;
    margin-left: unset;
    position: absolute;
    width: 60px;
    height: 60px;
    top: -15px;
    right: -18px;
}

.form-header-input .search_ikon.header-top-icons-search:hover {
    background: unset;
    color: #fff;
    border-color: transparent;
}

.header-top-icons-search:hover, .header-top-icons-user:hover {
    background: unset;
    color: #fff;
    border-color: transparent;
}

.form-header-input .search_input_close {
    position: absolute;
    right: 16%;
    top: 6px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-header-input .icon.icon-menu-close {
    color: #07324a;
}

.header-top-icons-search, .header-top-icons-user {
    border-right: none;
}

.form-header-input .icon-search:before {
    font-size: 2.1rem;
    top: -0.12em;
}

.form-header-input.is-active {
    display: block;
}

.form-header-input .header_input {
    width: 87%;
    color: #000;
    padding: 5px 30px 5px 10px;
    outline:none
}

.header-top-inner {
    position: relative;
}

.input-group-search {
    position: relative;
}

.form-header-input.mobile-form {
    display: none !important;
}

.child-menu {
    display: none;
    margin: 15px 0;
    position: absolute;
    padding: 20px 0;
    text-align: left;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    background: #fff;
}

.child-menu.is-active {
    display: block;
}

.child-menu li {
    display: block;
    padding: 12px 30px;
}

.header-base-inner.container {

}

.catalog-items-bordered.container .catalog-items-col .bx_catalog_tile_title {
    display: none;
}

@media (max-width: 1500px){
    .header-top-inner .form-header-input {
        width: 30%;
    }
}

@media (max-width: 1280px){
    .header-top-inner .form-header-input {
        width: 37%;
    }
}

@media (max-width: 960px){
    .header-top-inner .form-header-input {
        width: 50%;
    }
}

@media (max-width: 767px){
    .header-top-inner {
        display: flex;
        flex-direction: row-reverse;
    }
    .form-header-input .search_ikon {
        background: #fff;
        color: #07324a;
        width: 32px;
    }
    .form-header-input .header_input {
        border-bottom: 1px solid rgba(7, 50, 74, 0.09);;
    }
    .form-header-input .search_ikon:hover {
        color: #07324a;
    }
    .form-header-input .search_ikon.header-top-icons-search:hover  {
        background: #fff;
        color: #07324a;
    }
    .header-top-inner .form-header-input {
        right: 136px;
    }
    .form-header-input .icon-search:before {
        font-size: 1.6rem;
        top: -0.12em;
    }
    .form-header-input .input-group-search {
        justify-content: space-around;
    }
    .form-header-input .search_input_close {
        right: 10%;
    }
    .header-top-icons-search:hover, .header-top-icons-user:hover {
        color: #07324a;
    }
}

@media (max-width: 530px){
    .header-top-icons-search {
        display: none;
    }
    .form-header-input.mobile-form {
        display: block !important;
        position: relative;
        top: unset;
        line-height: 30px;
        width: 100%;
    }
    .form-header-input.mobile-form .header_input {
        padding: 5px 70px 5px 30px;
        width: 100%;
    }
    .form-header-input.mobile-form .search--icon {
        position: absolute;
        top: 4px;
        left: 1px;
    }
}
